@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Montserrat:wght@500&family=Noto+Sans+JP:wght@500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noticia1 {
    position: relative;
    background-image: linear-gradient(55deg, #0F0516 70%, #221133);
    width: 100vw;
    height: 100vh;
    opacity: 0.95;
}

.noticia1 img{
    width: 100vw;
    height: 100vh;
    opacity: 0.25;
}

.login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: linear-gradient(45deg, black 15%, #221133);
    border-radius: 30px;
    opacity: 0.95;
}

.login h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 43px;
    padding-top: 70px;
    font-size: 60px;
}

.inputs{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%, -50%);
}

.inputs input{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: linear-gradient(90deg, #0F0516,#221133 );
    outline: none;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 50px;
    font-size: 15px;
    border: 2px solid white;
}

.inputs input::placeholder{
    color: white;
}

.login h3{
    position: absolute;
    top: 67%;
    left: 15%;
    transform: translate(-15%, -67%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.clique{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    position: absolute;
    top: 67%;
    left: 52%;
    transform: translate(-52%, -67%);
    width: 100px;
    color: white;
}   

.clique h3{
    font-size: 13px;
}

.continuar{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 160px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #0F0516,#221133 );
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: transparent;
    transition: 1s ease-in-out;
}

.continuar:hover{
    background-image: linear-gradient(90deg, #221133,#0F0516 );
    border: 2px solid white;
}

.login1 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 43px;
    padding-top: 70px;
    font-size: 50px;
}

.login1 h3{
    position: absolute;
    top: 67%;
    left: 15%;
    transform: translate(-15%, -67%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.login1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-image: linear-gradient(45deg, black 15%, #221133);
    border-radius: 30px;
    opacity: 0.95;
}

.login1 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 43px;
    padding-top: 70px;
    font-size: 60px;
}

.continuar1{
    text-decoration: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 160px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #0F0516,#221133 );
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: transparent;
    transition: 1s ease-in-out;
}

.continuar1:hover{
    background-image: linear-gradient(90deg, #221133,#0F0516 );
    border: 2px solid white;
}