.noticia {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(55deg, #0F0516 10%, #221133);
    width: 100%;
    height: 100%;
}

.bem{
    position: relative;
    top: 6.5%;
    left: 0;
    width: 100vw;
}

.bem img{
    width: 100%;
}

.carrossel {
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin-top: 100px;
    width: 1100px;
    height: 618px;
}

.navegation{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.barra{
    width: 100px;
    height: 17px;   
    margin-left: 90px;
    margin-right: 90px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
}

.barra:hover{
    background-color: white;
}

input{
    display: none;
}

.selecao{
    display: flex;
    width: 400%;
    height: 100%;
}

.imagem{
    width: 25%;
    transition: 0.6s;
}

.imagem video{
    width: 100%;
    height: 100%;
} 




#imagem1:checked ~ .i1{
    margin-left: 0;
}

#imagem2:checked ~ .i1{
    margin-left: -25%;
}


#imagem3:checked ~ .i1{
    margin-left: -50%;
}

#imagem4:checked ~ .i1{
    margin-left: -75%;
}

.texto{
    margin-left: 50px;
    margin-top: 50px;
    overflow: hidden;
    font-family: 'Kanit', sans-serif ;
    font-size: 23px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 400px;
    height: 300px;
}

#imagem1:checked ~ .t2{
    color:transparent;
}

#imagem1:checked ~ .t3{
    color:transparent;
}

#imagem1:checked ~ .t4{
    color:transparent;
}

#imagem2:checked ~ .t1{
    color: transparent;
}

#imagem2:checked ~ .t3{
    color: transparent;
}

#imagem2:checked ~ .t4{
    color: transparent;
}

#imagem3:checked ~ .t1{
    color: transparent;
}

#imagem3:checked ~ .t2{
    color: transparent;
}

#imagem3:checked ~ .t4{
    color: transparent;
}

#imagem4:checked ~ .t1{
    color: transparent;
}

#imagem4:checked ~ .t2{
    color: transparent;
}

#imagem4:checked ~ .t3{
    color: transparent;
}

.buttom{
    position: absolute;
    top: 50%;
    left: 160px;
    width: 120px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.buttom a{
    cursor: pointer;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Biryani', sans-serif;
}


#imagem1:checked ~ .b2{
    pointer-events: none;
}

#imagem1:checked ~ .b3{
    pointer-events: none;
}

#imagem1:checked ~ .b4{
    pointer-events: none;
}

#imagem2:checked ~ .b1{
    pointer-events: none;
}

#imagem2:checked ~ .b3{
    pointer-events: none;
}

#imagem2:checked ~ .b4{
    pointer-events: none;
}

#imagem3:checked ~ .b1{
    pointer-events: none;
}

#imagem3:checked ~ .b2{
    pointer-events: none;
}

#imagem3:checked ~ .b4{
    pointer-events: none;
}

#imagem4:checked ~ .b1{
    pointer-events: none;
}

#imagem4:checked ~ .b2{
    pointer-events: none;
}

#imagem4:checked ~ .b3{
    pointer-events: none;
}